html
    head 
        title= title
        style
            include ../static/style.css
    body 
        nav
            ul(class='navigation')
                li
                    a(href='/' class='navbutton' id='home' name='home') Home
                li
                    a(href='/' class='navbutton' id='About' name='About') About
                li
                    a(href='/' class='navbutton' id='Contact' name='Contact') Contact
                li
                    a(href='/' class='navbutton' id='Documentation' name='Documentation') Documentation
        div(class='container' id='container')
            p(class='companyname' id='companyname') UNITY GYM
            form(class='form' id='form' name='form')
                div(class='row')
                    div(class='yourname')
                        label(for="name" class='labels') ENTER YOUR NAME:
                        input(type="text", name="name" id='name' class='outline urname')
                    div(class='yourname email')
                        label(for="email" class='labels email') ENTER YOUR EMAIL:
                        input(type="email", name="email" id='email' class='outline urname email')
                div(class='row')
                    div(class='yourname categ')
                        label(for="categ" class='labels categ') ENTER YOUR CATEGORY:
                        input(type="text", name="categ" id='categ' class='outline urname categ')
                    div(class='yourname email')
                        label(for="timing" class='labels categ') ENTER YOUR TIIMING:
                        input(type="text", name="timing" id='timing' class='outline urname timing')
                button(class='submit' id='button') SUBMIT
        script
            include ../static/res.js